@model IEnumerable<oneWeb.Models.HotelModel>

@{
    ViewData["Title"] = "Hotels";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="display: flex; justify-content: space-between; padding: 2% 0 1% 0">
  <h1>&nbsp;Hotels</h1>
  <button style="background-color: forestgreen; width: 10%; font-size: 1.3rem;">
    Add hotel
  </button>
</div>

<div style="padding: 1rem; border: 0.2rem solid darkred; border-radius: 0.3rem;">
  @foreach(var hotel in Model) {
    <div style="width: 100%; padding: 1rem; margin-bottom: 0.5rem; border-radius: 0.5rem; background-color:darkslategrey;
      display: flex;"
    >
      <div style="width: 40%">
        <img src="~/img/placeholder.png" style="width: 100%; display: block;"/>
      </div>

      <div style="padding: 0 2rem 0 2rem; width: 60%; font-size: 2rem;
        display: flex; flex-direction: column; justify-content: space-evenly;"
      >
                <div style="display: flex;">
                    <div style="width: 40%; color: lightgreen">@Html.DisplayNameFor(model => model.Name)</div>
                    <div style="width: 60%;">@hotel.Name</div>
                </div>

                <div style="display: flex;">
                    <div style="width: 40%; color: lightgreen;">@Html.DisplayNameFor(model => model.Country)</div>
                    <div style="width: 60%;">@hotel.Country</div>
                </div>

                <div style="display: flex;">
                    <div style="width: 40%; color: lightgreen">@Html.DisplayNameFor(model => model.City)</div>
                    <div style="width: 60%;">@hotel.City</div>
                </div>

                <div style="display: flex;">
                    <div style="width: 40%; color: lightgreen">@Html.DisplayNameFor(model => model.Address)</div>
                    <div style="width: 60%;">@hotel.Address</div>
                </div>

                <div style="display: flex;">
                    <button style="width: 100%; border-radius: 0.3rem;"
                      type="button" value="@hotel.Id"
                      onclick="location.href='@Url.Action("Details", "Hotel")'"
                    >See more</button>
                </div>
      </div>
    </div>
  }
</div>