@model IEnumerable<oneWeb.Models.HotelModel>

@{
    ViewData["Title"] = "Hotels";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Hotels</h1>
<div style="width: 100%;padding: 1rem; align-self: center;
  border: 0.2rem solid black; border-radius: 0.3rem"
>
  @*table header*@
  <div style="display: flex; justify-content: space-around; align-items: center;
    height: 10%; border: 0.2rem black solid; font-size: 1.5rem"
  >
    <div style="width: 35%"></div>
    <div style="min-width: 10%;"
    >@Html.DisplayNameFor(model => model.Name)</div>

    <div style="min-width: 10%;"
    >@Html.DisplayNameFor(model => model.Country)</div>

    <div style="min-width: 10%;"
    >@Html.DisplayNameFor(model => model.City)</div>

    <div style="max-width: 20%;"
    >@Html.DisplayNameFor(model => model.Address)</div>
  </div>
  
  @foreach (var hotel in Model) {
    <div style="display: flex; justify-content: space-around; align-items: center; padding: 0.5%;"
    >
      <div style="width: 35%">
        <img src="~/img/placeholder.png"
          style="width: 100%; display: block;"
        />
      </div>
            <div style="border: 0.1rem solid red; min-width: 10%;">
                @hotel.Name
            </div>

            <div style="border: 0.1rem solid red; min-width: 10%;">
                @Html.DisplayNameFor(model => model.Country)
            </div>

            <div style="border: 0.1rem solid red; min-width: 10%;">
                @Html.DisplayNameFor(model => model.City)
            </div>

            <div style="border: 0.1rem solid red;max-width: 20%;">
                @Html.DisplayNameFor(model => model.Address)
            </div>
        </div>
    }
  @*<table style="width: 100%;">
    <thead style="height: 20%; border: 0.1rem red solid;">
      <tr style="height: 100%">
        <th></th>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        <th>@Html.DisplayNameFor(model => model.Country)</th>
        <th>@Html.DisplayNameFor(model => model.City)</th>
        <th>@Html.DisplayNameFor(model => model.Address)</th>
      </tr>
    </thead>
  
    <tbody>
      @foreach (var hotel in Model) {
        <tr>
          <td width="30%">
            <img src="~/img/placeholder.png" style="width: 100%; display: block">
          </td>
          <td width="15%">@hotel.Name</td>
          <td width="10%">@hotel.Country</td>
          <td width="15%">@hotel.City</td>
          <td width="30%">@hotel.Address</td>
        </tr>
      }
    </tbody>
  </table>*@
</div>